.leaflet-popup-content {
    margin: 13px 19px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.imageflottante {
    float: right;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: var(--white);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: var(--popup-shadow);
    border-radius: 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: var(--text-color);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}